html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
  min-width: 320px;
}

body {
  font-size: 16px;
  background: #102930;
  color: #fff;
}

h1,h2{
    font-family: "Playfair Display", serif;
}

nav, p, ol{
    font-family: "Poppins", sans-serif;
}

#skip{
    position: absolute;
    left: -100000px;    
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    margin-bottom: 1rem;
}

nav ul{
    list-style: none;
    margin: 0;       
    padding: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: #fff;
    border: .5px solid #c6b98c;
    padding: 10px 15px;
}

nav a.logoText {
    border: none;
}

header{
    padding-bottom: 25px;
}

.bannerText{
    display: none;
}

#hero-banner {
    box-shadow: 5px 0 20px #c6b98c;  
}

#hero-banner img {
    width: 100%;     
    height: auto;     
    background-size: cover;
    background-position: center;
}

.hero-text{
    text-align: center;
    margin: 0 auto;
    padding: 50px 30px;
}

.hero-text p{
    font-size: 14px;
}

.showcase{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.showcase img{
    width: 100%;
    padding: 2px;
}